/* @font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold; /* 700 
}
@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
} */

:root {
    font-size: 18px;
    --gray30: #251F24;
    --gray25: #3A3539;
    --gray20: #A5A3A5;
    /* --gray10: #616161; */
}

body {
    /* font-family: charter; */
    font-family: Nunito;
    background-color: var(--gray30);
    color: white;
}

a {
    color: var(--gray30);
    text-decoration: none;
}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main hr {
    display: none;
}

header {
    /* --gray10: green; */
    font-size: 14px;
    color: white;
}

header li {
    color: var(--gray20)
}

header a {
    color: var(--gray20);
    text-decoration: none;
}

header a:hover {
    color: white;
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
}

p {
    color: var(--gray20);
}

pre {
    background-color: var(--gray25);
}

.hero {
    height: 350px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

.section-content ol, .section-content ul {
    color: var(--gray20);
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content {
    counter-reset: titleList;
}
/* Funcionaba igual sin poner el counter-reset. O sea que es 
redundante. Ver si se resetea al cambiar de Section */

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList);
}
/* Asume por default counter(titleList, decimal) y por eso hace
   un numerado decimal. Podría ser, p.ej, upper-roman y haría un
   numerado romano en mayúsculas*/

.section-content h3::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 4px;
    color: var(--gray30);
}